<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.patchoo-deploysetuploginlock</string>
	<key>RunAtLoad</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>LoginWindow</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/JAMF/bin/jamfHelper.app/Contents/MacOS/jamfHelper</string>
		<string>-windowType</string>
		<string>fs</string>
		<string>-description</string>
		<string>Mac is provisioning. Do not interrupt or power off.</string>
		<string>-icon</string>
		<string>/System/Library/CoreServices/Installer.app/Contents/Resources/Installer.icns</string>
	</array>
</dict>
</plist>
